{% extends "base.html" %}

{% block title %}
{{ user.name_or_email }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row subtitle">
  <div class="col-10">
    <img class="rounded-circle profile-picture" src="{{ user.picture_url_or_placeholder }}" alt="{{ user.name_or_email }}">

    <h1>{{ user.name_or_email }}</h1>
    {% if user.bio %}
    <p>{{ user.bio }}</p>
    {% endif %}
    {% if user.email %}
    Email:
    <a href="mailto:{{user.email}}">{{ user.email }}</a>
    {% endif %}
    <p>Member since {{ user.date_joined.date() }}</p>
    {% if current_user.id == user.id %}
    <a href="{{ url_for('editUser', user_id=user.id ) }}" class="btn btn-primary">Update Info</a>
    {% endif %}
  </div>
</div>

{% if user.books|length > 0 %}
<h2>Books</h2>
<ul class="list-unstyled">
  {% for b in user.books %}
  <a href="{{ url_for('book', book_id=b.id) }}"><img class="book-img rounded" src="{{ b.cover_or_placeholder_url }}" alt="{{ b.name }}"></a>
  {% endfor %}
</ul>
{% endif %}

{% if user.likes|length > 0 %}
<h2>Liked Books</h2>
<ul class="list-unstyled">
  {% for l in user.likes %}
  <a href="{{ url_for('book', book_id=l.book_id) }}"><img class="like-img rounded" src="{{ l.book.cover_or_placeholder_url }}" alt="{{ l.book.name }}"></a>
  {% endfor %}
</ul>
{% endif %}



{% endblock %}
