html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
  min-height: 75rem;
  padding-top: 4.5rem;
}

h2 {
  margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

.book-img {
  width: 20rem;
  height: 30rem;
  margin-right: 20px;
  margin-bottom: 20px;
}

.like-img {
  width: 10rem;
  height: 15rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container-info {
  margin-top: 30px;
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
}

form {
  padding-bottom: 15px;
}

.alert {
  margin-top: 16px;
}

.sign-in {
  padding-left: 0px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.sign-up {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.social-login {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-bottom: 30px;
}

.error {
  font-size: 300%;
}

.profile-picture {
  max-width: 150px;
  max-height: 150px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.profile-picture-thumb {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-genres {
  margin-bottom: 16px;
}

.genre-badge {
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: normal;
  background-color: white;
  color: black;
  border: 1px solid gray;
}
