html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.book-img {
  width: 20rem;
  height: 30rem;
  margin-right: 20px;
  margin-bottom: 20px;
}

.book-info {
  margin-top: 30px;
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 20px;
}

form {
  padding-bottom: 50px;
}

.alert {
  margin-top: 16px;
}
