<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ book.name }}</title>
  </head>
  <body>
    <h1>{{ book.name }}</h1>

    {% if book.author_name %}
    <p>by {{ book.author_name }} {% if book.year %}{{ book.year }}{% endif %}</p>
    {% endif %}

    {% if book.description %}
    <p>{{ book.description }}</p>
    {% endif %}

    {% if book.pages_count %}
    <p>Pages count {{ book.pages_count }}</p>
    {% endif %}

    {% if book.price %}
    <p>Price ${{ book.price }}</p>
    {% endif %}

    <b>Genre
      <a href="{{ url_for('genre', genre_id=book.genre_id) }}">{{ book.genre.name }}</a>
    </b>
    <br>
    <b>Added by
      <a href="{{ url_for('user', user_id=book.user_id) }}">{{ book.user.name }}</a>
    </b>

  </body>
</html>
