{% extends "base.html" %}

{% block title %}
Books
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Books</h1>
<h3><a href="{{ url_for('newBook') }}">Add New Book</a></h3>

<ul class="list-unstyled">
  {% for b in books %}
  <li class="card d-inline-block" style="width: 20rem;">
    <img class="card-img-top img-fluid" src="{{ b.cover_image_url }}" alt="{{ b.name }}">
    <div class="card-block">
      <h4 class="card-title">{{ b.name }}</h4>
      <p class="card-text">by {{ b.author_name }}</p>
      <a href="{{ url_for('book', book_id=b.id) }}" class="btn btn-primary">More</a>
    </div>
  </li>

  {% endfor %}
</ul>
{% endblock %}
