{% extends "base.html" %}

{% block title %}
Edit {{ book.name }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Edit {{ book.name }}</h1>

<form action="{{ url_for('editBook', book_id=book.id) }}" method="post">
  <input type="text" name="name" placeholder="Name" value="{{ book.name }}" >
  <br>
  <textarea name="description" rows="8" cols="80">{{ book.description }}</textarea>
  <br>
  <select name="genre_id">
      {% for g in genres %}
      <option value="{{ g.id }}">{{ g.name }}</option>
      {% endfor %}
    </select>
  <br>
  <input type="text" name="cover_image_url" placeholder="Cover image URL" value="{{ book.cover_image_url }}">
  <br>
  <input type="number" min="1" name="pages_count" placeholder="Pages count" value="{{ book.pages_count }}">
  <br>
  <input type="text" name="author_name" placeholder="Author name" value="{{ book.author_name }}">
  <br>
  <input type="number" min="1" name="year" placeholder="Year" value="{{ book.year }}">
  <br>
  <input type="number" min="0" , step="0.01" name="price" placeholder="Price" value="{{ book.price }}">
  <br>
  <input type="submit" value="Save">
</form>

{% endblock %}
