{% extends "base.html" %}

{% block title %}
{{ genre.name }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="row subtitle">
  <div class="col-10">
    <h1>{{ genre.name }}</h1>
    <a href="{{ url_for('editGenre', genre_id=genre.id) }}">Edit</a>
    <br>
    <a href="{{ url_for('deleteGenre', genre_id=genre.id) }}">Delete</a>
  </div>
</div>
<ul class="list-unstyled">
  {% for b in books %}
  <a href="{{ url_for('book', book_id=b.id) }}">
    <img class="book-img rounded" src="{{ b.cover_image_url }}" alt="{{ b.name }}">
  </a>
  {% endfor %}
</ul>
{% endblock %}
