{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block head %}
{{ super() }}
<script src="//apis.google.com/js/platform.js?onload=start"></script>
{% endblock %}

{% block content %}

<div class="container-info">
  <div class="row " id="g-siginin-area">
    <div class="col-md-12 col-sm-12 social-login">
      <h2>Sign me in using my Google account!</h2>
      <div id="signInButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="166895269606-vpvjpqbb0h9bdul942du47jte451pgof.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
      </div>
      <p>We use your email for sign in only. No spam, we promise :)</p>
    </div>
  </div>
  <div class="row">
    <p id="result"></p>
  </div>
</div>

<script type="text/javascript">
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#g-siginin-area').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{state}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').text('Login Successful!. Redirecting...')
          setTimeout(function() {
            window.location.href = "/";
          }, 2000);
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').text('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    });
  }
}
</script>

{% endblock %}
