<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script type="text/javascript" , src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  {% block head %}
  <title>
    {% block title %}{% endblock %} - Flask book store
  </title>
  {% endblock %}
</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Flask Books!</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if selected=='books'%}active{% endif %}">
          <a class="nav-link" href="{{ url_for('books') }}">Books</a>
        </li>
        <li class="nav-item {% if selected=='genres'%}active{% endif %}">
          <a class="nav-link" href="{{ url_for('genres') }}">Genres</a>
        </li>
        <li class="nav-item {% if selected=='users'%}active{% endif %}">
          <a class="nav-link" href="{{ url_for('users') }}">Users</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if current_user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ current_user.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">My Account</a>
            <a class="dropdown-item" href="{{ url_for('gDisconnect') }}">Logout</a>
          </div>
        </li>
        {% else %}
        <a class="nav-item nav-link {% if selected=='auth'%}active{% endif %}" href="{{ url_for('auth') }}">Login</a>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="flash">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
      <ul class="list-unstyled">
        {% for category, message in messages %}
        <li>
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> {{ message }}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>

    <div class="container" id="content">
      {% block content %} {% endblock %}
    </div>

  </div>

  <footer class="footer">
    <div class="container">
      {% block footer %}
      <span class="text-muted"><strong>Flask Books</strong> is another opensource project by <a target="_blank" href="https://www.github.com/omaralbeik">Omar Albeik</a></span> {% endblock %}
    </div>
  </footer>
</body>

</html>
