{% extends "base.html" %}

{% block title %}
{{ book.name }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container-info">
  <div class="row">
    <div class="col-md-4 col-sm-8">
      <img class="rounded img-fluid" src="{{ book.cover_or_placeholder_url }}" alt="{{ book.name }}">
    </div>
    <div class="col-md-8 col-sm-12">
      <h1>{{ book.name }}</h1>
      {% if book.author_name %}
      <p>by <a target="_blank" href="https://www.google.com/?q={{ book.author_name }}">{{ book.author_name }}</a></p>
      {% endif %}

      {% if is_liked %}
      <form action="{{ url_for('dislikeBook', book_id=book.id) }}" method="post">
        <input class="btn btn-primary" type="submit" name="" value="Dislike {% if book.likes|length > 0 %}({{ book.likes|length }}){% endif %}">
      </form>
      {% else %}
      <form action="{{ url_for('likeBook', book_id=book.id) }}" method="post">
        <input class="btn btn-secondary" type="submit" name="" value="Like {% if book.likes|length > 0 %}({{ book.likes|length }}){% endif %}">
      </form>
      {% endif %}

      {% if book.description %}
      <p>{{ book.description }}</p>
      {% endif %}

      <br>

      {% if book.genres|length > 0 %}
      <p>Genres</p>
      {% for g in book.genres %}
      <ul>
        <a href="{{ url_for('genre', genre_id=g.id) }}">{{ g.name }}</a>
      </ul>
      {% endfor %}
      {% endif %}

      {% if book.year %}
      <p>Release Date {{ book.year }}</p>
      {% endif %}

      {% if book.page_count %}
      <p>Page count {{ book.page_count }}</p>
      {% endif %}

      <p>Added by
        <a href="{{ url_for('user', user_id=book.owner_id) }}">{{ book.owner.name_or_email }}</a>
      </p>
      <br>
      <a href="{{ url_for('editBook', book_id=book.id) }}" class="btn btn-primary">Edit Book</a>
      <a href="{{ url_for('deleteBook', book_id=book.id) }}" class="btn btn-danger">Delete Book</a>

    </div>
  </div>
</div>


{% endblock %}
