{% extends "base.html" %}

{% block title %}
New Book
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row subtitle">
  <div class="col-10">
    <h1>New Book</h1>
  </div>
</div>

<div class="container-info">
  <form action="{{ url_for('newBook') }}" method="post">
    <div class="form-group">
      <label for="name">Name*</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Book Name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" id="description" rows="3">{{ description }}</textarea>
    </div>

    <div class="form-group">
      <label for="genres">Genres</label>
          <select multiple class="form-control" name="genres" id="genres" size="{{ genres|length }}">
            {% for g in genres %}
            <option value="{{ g.id }}">{{ g.name }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="cover_image_url">Cover image URL</label>
        <input type="text" class="form-control" name="cover_image_url" id="cover_image_url" placeholder="website.com/cover.jpg" value="{{ cover_image_url }}">
      </div>
      <div class="form-group">
        <label for="page_count">Page Count</label>
        <input type="number" min="1" class="form-control" name="page_count" id="page_count" placeholder="Page Count", value="{{ page_count }}">
      </div>
      <div class="form-group">
        <label for="author_name">Author Name</label>
        <input type="text" class="form-control" name="author_name" id="author_name" placeholder="Author Name", value="{{ author_name }}">
      </div>
      <div class="form-group">
        <label for="year">Release Year</label>
        <input type="number" min="1" class="form-control" name="year" id="year" placeholder="Year" value="{{ year }}">
      </div>
      <input type="submit" class="btn btn-primary" value="Create">
      <a href="{{ url_for('books') }}" class="btn btn-secondary">Cancel</a>
  </form>
</div>

{% endblock %}
