{% extends "base.html" %}

{% block title %}
{{ user.name() }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row subtitle">
  <div class="col-10">
    <h1>{{ user.name() }}</h1>
    {% if user.email %}
    <a href="mailto:{{user.email}}">{{ user.email }}</a>
    {% endif %}
    <p>Member since {{ user.created_at.date() }}</p>
  </div>
</div>

{% if genres|length > 0 %}
<h2>Genres</h2>
<ul class="list-unstyled">
  {% for g in genres %}
  <li>
    <a href="{{ url_for('genre', genre_id=g.id) }}">{{ g.name }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if books|length > 0 %}
<h2>Books</h2>
<ul class="list-unstyled">
  {% for b in books %}
  <a href="{{ url_for('book', book_id=b.id) }}">
    <img class="book-img rounded" src="{{ b.cover_image_url }}" alt="{{ b.name }}">
  </a>
  {% endfor %}
</ul>
{% endif %}



{% endblock %}
